<div class="col-sm-4">
    <input type="text" ng-model="query" class="form-control input-sm" placeholder="Search" ng-focus="toggleSearchResults()" ng-keypress="queryServer()">
    <div id="searchResults" ng-show="showingSearchResults" class="list-group">
        <a href="#" class="list-group-item"><span class="glyphicon glyphicon-user"></span> Affiliates <span class="badge">53</span></a>
        <a href="#" class="list-group-item"><span class="glyphicon glyphicon-home"></span> Advertisers <span class="badge">27</span></a>
        <a href="#" class="list-group-item"><span class="glyphicon glyphicon-gift"></span> Offers <span class="badge">219</span></a>
        <a href="#" class="list-group-item"><span class="glyphicon glyphicon-share-alt"></span> Referrers</a>
        <a href="#" class="list-group-item"><span class="glyphicon glyphicon-globe"></span> User Agents</a>
    </div>
</div>