<h1 class="page-header">
    Login <small><a href ui-sref="register">Register</a></small>
</h1>

<form name="login" ng-submit="authenticate()" novalidate class="form-horizontal" role="form">
    <div class="form-group" ng-class="{ 'has-error': login.email.$dirty && login.email.$invalid }">
        <label for="inputEmail" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-3">
            <input name="email" ng-model="user.email" type="email" class="form-control" id="inputEmail" placeholder="Email" required>
        </div>
        <div class="help-block" ng-show="login.email.$dirty && login.email.$invalid">
            <span ng-show="login.email.$error.required">Tell us your email</span>
            <span ng-show="login.email.$error.email">This is not a valid email</span>
        </div>
    </div>
    <div class="form-group" ng-class="{ 'has-error': login.password.$dirty && login.password.$invalid }">
        <label for="inputPassword" class="col-sm-2 control-label">Password</label>
        <div class="col-sm-2">
            <input name="password" ng-model="user.password"  type="password" class="form-control" id="inputPassword" placeholder="Password" required>
        </div>
        <div class="help-block" ng-show="login.password.$dirty">
            <span ng-show="login.password.$error.required">Tell us your password</span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label>
                    <input type="checkbox"> Remember me
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary" ng-disabled="login.$invalid">Sign in</button>
        </div>
    </div>
    <div class="form-group has-error">
        <div class="col-sm-offset-2 col-sm-10">
            <div class="help-block" ng-show="error">
                {{error}}<br />
                Would you like to try <a href ui-sref="auth.password">resetting your password?</a>
            </div>
        </div>
    </div>
</form>

