<h1 class="page-header">
    Reset
</h1>

<div ng-show="error">{{error}}</div>
<form ng-submit="authenticate()" novalidate class="form-horizontal" role="form">
    <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
            <input ng-model="user.email" type="email" class="form-control" id="inputEmail3" placeholder="Email">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Reset my password</button>
            <a href ui-sref="auth.login">Login</a>
        </div>
    </div>
</form>

