<a ng-click="toggleSources()" href ><small>{{ source.name }} - {{ source.property.name }}</small> <span class="caret"></span></a>
<div id="sources" ng-show="showingSources">
    <ul>
        <li>
            ScrubKit
            <ul class="list-unstyled">
                <li><a href >Demo Account</a></li>
                <li><a href >Demo Account 2</a></li>
            </ul>
        </li>
        <li class="divider"></li>
        <li>
            Envyus Media
            <ul class="list-unstyled">
                <li><a href >Cake Marketing</a></li>
                <li><a href >Insurance Leads</a></li>
            </ul>
        </li>
        <li class="divider"></li>
        <li>
            Some Other Acmee
            <ul class="list-unstyled">
                <li><a href >HasOffers</a></li>
                <li><a href >Insurance Leads</a></li>
            </ul>
        </li>
        <li class="divider"></li>
        <li><a href ui-sref="settings">Manage Accounts</a></li>
    </ul>
</div>