/**
 * This is the main application stylesheet. It should include or import all
 * stylesheets used throughout the application as this is the only stylesheet in
 * the Grunt configuration that is automatically processed.
 */


/**
 * First, we include the Twitter Bootstrap LESS files. Only the ones used in the
 * project should be imported as the rest are just wasting space.
 */

@import '../../vendor/bootstrap/less/bootstrap.less';


/**
 * This is our main variables file. We must include it last so we can overwrite any variable
 * definitions in our imported stylesheets.
 */

@import 'variables.less';


/**
 * Typography
 */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), local('Roboto-Regular'), url(fonts/Roboto-Regular.woff) format('woff');
}

code, pre, .pre {
  padding: 5px;
  margin: 10px 0;
  background-color: #EFEFEF;
  border: 1px solid #DADADA;
  border-radius: 3px;
}

code {
  padding: 0 3px;
}

pre {
  margin: 10px 0;
  padding: 5px;
}

.page-header {
  margin-top: 60px;

  &:first-child {
    margin-top: 20px;
  }
}

h2 {
  margin: 20px 0;
  color: #666;
}


/**
 * Header
 */
header {
  margin-top: 20px;

  nav {
    .navbar {
      max-height: 55px;
    }
    .navbar-right {
      .user, .user .dropdown-menu {
        margin-right: 15px;
      }
    }
  }

  .properties {
    padding: 0px;

    .dropdown-toggle {
    }
    .dropdown-menu {
    }
  }
}

#search {
  .form-control {
    width: 360px;
  }
  input {
    margin-top: 2px;
  }
}

#searchResults {
  font-size: 1em;
  border-radius: 3px;
  z-index: 100;
  width: 361px;
  margin-left: 14px;
  position: absolute;
  top: 33px;
  right: 0;
  left: 0;
  /*
  box-sizing: border-box;
  border: solid 1px #d2d2d2;
  background-color: #fff;
  -webkit-box-shadow: 0 0.3125rem 0.625rem rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0.3125rem 0.625rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.3125rem 0.625rem rgba(0, 0, 0, 0.2);
  padding: 7px;
  */
}

#sources {
  font-size: .8em;
  box-sizing: border-box;
  border: solid 1px #d2d2d2;
  border-radius: 3px;
  z-index: 100;
  width: 350px;
  background-color: #fff;
  padding: 7px;
  position: fixed;
  top: 72px;
  right: 0;
  margin-right: 60px;
  /*
  box-sizing: border-box;
  border: solid 1px #d2d2d2;
  background-color: #fff;
  -webkit-box-shadow: 0 0.3125rem 0.625rem rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0.3125rem 0.625rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.3125rem 0.625rem rgba(0, 0, 0, 0.2);
  padding: 7px;
  */
}

#dateRangeForm {
  font-size: .8em;
  box-sizing: border-box;
  border: solid 1px #d2d2d2;
  border-radius: 3px;
  z-index: 100;
  width: 700px;
  background-color: #fff;
  padding: 7px;
  position: fixed;
  top: 114px;
  right: 0;
  margin-right: 21px;
  /*
  -webkit-box-shadow: 0 0.3125rem 0.625rem rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0.3125rem 0.625rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.3125rem 0.625rem rgba(0, 0, 0, 0.2);
  */

  tbody td {
    padding: 1px;
  }
  tbody td .btn-sm {
    margin: 2px;
    padding: 3px;
  }
}

form.login  {

  input.ng-invalid.ng-dirty {
    background-color: #FA787E;
  }

  input.ng-valid.ng-dirty {
    background-color: #78FA89;
  }
}

.legal {
  textarea {
    overflow: auto;
    height: 200px;
  }
  .checkbox {
    margin: 15px 0 20px 0px;
  }
}

/**
 * Footer
 */

.footer {
  margin-top: 80px;

  .footer-inner {
    padding: 40px 0;
    border-top: 1px solid #DDD;
  }
  .social {
    float: right;
    margin: 0;
    list-style: none;

    li {
      float: left;
      margin-left: 20px;

      a, a:visited {
        color: @gray-light;
        text-decoration: none;
        font-size: 40px;
        .transition( 250ms ease-in-out );

        &:hover {
          color: @gray;
        }
      }
    }
  }
}

/**
 * Now that all app-wide styles have been applied, we can load the styles for
 * all the submodules and components we are using. 
 *
 * TODO: In a later version of this boilerplate, I'd like to automate this.
 */

@import '../app/home/home.less';


