<h1>Admin</h1>

<h2>Accounts</h2>
<ul>
    <li><a ui-sref="admin.">Settings</a></li>
    <li><a ui-sref="admin.">Users</a></li>
    <li><a ui-sref="admin.">Filters</a></li>
    <li><a ui-sref="admin.">Change History</a></li>
</ul>

<h2>Properties</h2>
<ul>
    <li><a ui-sref="admin.">Settings</a></li>
    <li><a ui-sref="admin.">Users</a></li>
    <li><a ui-sref="admin.">Tracking</a></li>
    <li><a ui-sref="admin.">Definitions</a></li>
    <li><a ui-sref="admin.">Import</a></li>
    <li><a ui-sref="admin.">Referrals</a></li>
</ul>

<h2>Property</h2>
<ul>
    <li><a ui-sref="admin.">Settings</a></li>
    <li><a ui-sref="admin.">Users</a></li>
    <li><a ui-sref="admin.">Goals</a></li>
    <li><a ui-sref="admin.">Content Grouping</a></li>
    <li><a ui-sref="admin.">Filters</a></li>
    <li><a ui-sref="admin.">Channel Settings</a></li>
    <li><a ui-sref="admin.">Channel Grouping</a></li>
    <li><a ui-sref="admin.">Alerts</a></li>
    <li><a ui-sref="admin.">Scheduled Emails</a></li>
    <li><a ui-sref="admin.">Segments</a></li>
    <li><a ui-sref="admin.">Annotations</a></li>
</ul>

<div ui-view="admin"></div>