<div>
    <a ng-click="toggleDisplay()" href>{{ filter.range_start | date:'mediumDate' }} through {{ filter.range_end | date:'mediumDate' }}</a> &nbsp;
    <div id="dateRangeForm" ng-show="showDateSelection">
        <div class="col-md-4">
            <datepicker ng-model="start" show-weeks="false" class="well well-sm"></datepicker>
        </div>
        <div class="col-md-4">
            <datepicker ng-model="end" min="start" show-weeks="false" class="well well-sm"></datepicker>
        </div>
        <div class="col-md-4">
            <div class="row">
               <div class="col-xs-6">
                   <label class="control-label" for="start_display">From</label>
                   <input type="text" name="start_display" class="form-control input-sm" ng-blur="blurred('start')" ng-model="start_display" ng-required="true" />
               </div>
               <div class="col-xs-6">
                   <label class="control-label" for="end_display">To</label>
                   <input type="text" name="end_display" class="form-control input-sm" ng-blur="blurred('end')" ng-model="end_display" ng-required="true" />
               </div>
            </div>
            <hr />
            <select class="form-control input-sm" name="daterange" ng-model="daterange" ng-change="updateDaterange()">
                <option value="custom">Custom</option>
                <option value="today">Today</option>
                <option value="yesterday">Yesterday</option>
                <option value="this week">This week</option>
                <option value="this month">This month</option>
                <option value="last week">Last week</option>
                <option value="last month">Last month</option>
                <option value="last 7 days">Last 7 days</option>
                <option value="last 30 days">Last 30 days</option>
            </select>
            <hr/>
            <div>
                <button class="btn btn-primary btn-sm" ng-click="apply()">Apply Filter</button>
                <button class="btn btn-default btn-sm" ng-click="cancel()">Cancel</button>
            </div>
        </div>
    </div>
</div>

