<h1>Dashboard</h1>
<table ng-controller="DashboardCtrl" class="table table-hover table-bordered">
    <thead>
        <tr>
            <td></td>
            <td>Views</td>
            <td>Sessions</td>
            <td>Conversions</td>
            <td>Duplicitous</td>
            <td>Sales</td>
            <td>Est. Loss</td>
            <td>Threats</td>
        </tr>
    </thead>
    <tbody ng-repeat="company in dashboard.data">
        <tr>
            <td colspan="8">{{ company.name }}</td>
        </tr>
        <tr ng-repeat="property in company.property">
            <td><a href="#/overview/{{property.id}}">{{ property.name }}</a></td>
            <td>{{ property.views }}</td>
            <td>{{ property.sessions }}</td>
            <td>{{ property.conversions }}</td>
            <td>{{ property.duplicitous }}</td>
            <td>{{ property.sales | currency }}</td>
            <td>{{ property.estimated_loss | currency:"$" }}</td>
            <td>{{ property.threats.join(', ') }}</td>
        </tr>
    </tbody>
</table>