<!DOCTYPE html>
<html ng-app="ngBoilerplate" ng-controller="AppCtrl">
<head>
    <title ng-bind="pageTitle"></title>
    <meta charset="utf-8">

    <!-- social media tags -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@scrubkit">
    <meta name="twitter:title" content="ScrubKit Corp">
    <meta name="twitter:description" content="">
    <meta name="twitter:creator" content="@scrubkit">
    <meta property="og:title" content="ScrubKit"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="http://www.scrubkit.com"/>
    <meta property="og:description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- font awesome from BootstrapCDN -->
    <!--
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    -->
    <!-- compiled CSS -->
    <% styles.forEach( function ( file ) { %><link rel="stylesheet" type="text/css" href="<%= file %>"/>
    <% }); %>
    <!-- compiled JavaScript -->
    <% scripts.forEach( function ( file ) { %><script type="text/javascript" src="<%= file %>"></script>
    <% }); %>
</head>
<body>
<div class="container-fluid">
    <!-- header starts -->
    <header class="navbar navbar-default avbar-inverse" role="navigation" ng-show="hasAuthorization">
        <hgroup class="navbar-header">
            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href ui-sref="home" class="navbar-brand">{{ company.name }}</a>
        </hgroup>
        <nav>
            <ul class="nav navbar-nav">
                <li ui-sref-active="active"><a href ui-sref="dashboard">Dashboard</a></li>
                <li ui-sref-active="active"><a href ui-sref="report">Reports</a></li>
                <li ui-sref-active="active"><a href ui-sref="admin">Admin</a></li>
                <!--
                <li ui-sref-active="active" class="dropdown" on-toggle="toggled(open)">
                    <a class="dropdown-toggle">Alerts</a>
                    <ul class="dropdown-menu">
                        <li ui-sref-active="active"><a href ui-sref="alert">Alert 1</a></li>
                        <li ui-sref-active="active"><a href ui-sref="alert">Alert 2</a></li>
                        <li ui-sref-active="active"><a href ui-sref="alert">Alert 3</a></li>
                    </ul>
                </li>
                -->
            </ul>
        </nav>
        <nav>
            <form id="search" class="navbar-form navbar-left" role="search" search-directive>

            </form>
        </nav>
        <nav>
            <ul class="nav navbar-nav navbar-right">
                <li class="properties dropdown" source-directive></li>
                <li class="user dropdown" on-toggle="toggled(open)">
                    <a href class="dropdown-toggle"><span class="glyphicon glyphicon-th-list"></span></a>
                    <ul class="dropdown-menu">
                        <li ui-sref-active="active"><a href ui-sref="profile">Profile</a></li>
                        <li ui-sref-active="active"><a href ui-sref="settings">Settings</a></li>
                        <li class="divider"></li>
                        <li ui-sref-active="active"><a href ui-sref="auth.logout">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>
    <!-- end of header -->
    <div ng-show="hasAuthorization" class="pull-right" date-range-directive></div>
    <section ui-view="main">

    </section>
    <footer class="footer">
        <div class="footer-inner">
            <ul class="social">
                <li><a target="_blank" href="http://gplus.to/joshdmiller"><i class="fa fa-google-plus-sign"></i></a></li>
                <li><a target="_blank" href="http://twitter.com/joshdmiller"><i class="fa fa-twitter-sign"></i></a></li>
                <li><a target="_blank" href="http://linkedin.com/in/joshdmiller"><i class="fa fa-linkedin-sign"></i></a></li>
                <li><a target="_blank" href="http://github.com/ngbp/ngbp"><i class="fa fa-github-sign"></i></a></li>
            </ul>
            <p>
                &copy; {{ company.copyright }} {{ company.name }}., v<%= version %>
            </p>
        </div>
    </footer>
</div>
</body>
</html>
