<h1 class="page-header">
    Register <small><a href ui-sref="auth.login">login</a></small>
</h1>
<form name="register" ng-submit="submit()" novalidate class="form-horizontal" role="form">
    <h3>Profile</h3>
    <div class="form-group" ng-class="{ 'has-error': register.first.$dirty && register.first.$error.required }">
        <label for="inputFirst" class="col-sm-2 control-label">First name</label>
        <div class="col-sm-3">
            <input name="first" ng-model="user.first" required class="form-control" id="inputFirst" placeholder="First">
        </div>
        <div class="help-block" ng-show="register.first.$dirty">
            <span ng-show="register.first.$error.required">Tell us your first name</span>
        </div>
    </div>
    <div class="form-group" ng-class="{ 'has-error': register.last.$dirty && register.last.$error.required }">
        <label for="inputLast3" class="col-sm-2 control-label">Last name</label>
        <div class="col-sm-3">
            <input name="last" ng-model="user.last" required class="form-control" id="inputLast3" placeholder="Last">
        </div>
        <div class="help-block" ng-show="register.last.$dirty">
            <span ng-show="register.last.$error.required">Tell us your last name</span>
        </div>
    </div>
    <div class="form-group" ng-class="{ 'has-error': register.email.$dirty && register.email.$invalid }">
        <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-4">
            <input name="email" ng-model="user.email" required type="email" class="form-control" id="inputEmail3" placeholder="Email">
        </div>
        <div class="help-block" ng-show="register.email.$dirty && register.email.$invalid">
            <span ng-show="register.email.$error.required">Tell us your email</span>
            <span ng-show="register.email.$error.email">This is not a valid email</span>
        </div>
    </div>
    <div class="form-group" ng-class="{ 'has-error': register.password.$dirty && register.password.$invalid }">
        <label for="inputPassword" class="col-sm-2 control-label">Password</label>
        <div class="col-sm-2">
            <input name="password" ng-model="user.password" ng-minlength="8" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/" type="password" class="form-control" id="inputPassword" placeholder="Password" required>
        </div>
        <div class="help-block" ng-show="register.password.$dirty">
            <span ng-show="register.password.$error.required">Tell us your password</span>
            <span ng-show="register.password.$error.minlength">Not enough characters- at least 8</span>
            <span ng-show="register.password.$error.pattern">One Uppercase and number required</span>
        </div>
    </div>
    <div class="form-group" ng-class="{ 'has-error': register.confirm.$dirty && register.confirm.$invalid }">
        <label for="inputConfirm" class="col-sm-2 control-label">Confirm</label>
        <div class="col-sm-2">
            <input name="confirm" ng-model="user.confirm" type="password" class="form-control" id="inputConfirm" password-confirm match-target="user.password" placeholder="Confirm Password">
        </div>
        <div class="help-block" ng-show="register.password.$dirty">
            <span class="help-block" ng-show="register.confirm.$error.match">Passwords do not match.</span>
        </div>
    </div>

    <h3>Organization</h3>
    <div class="form-group" ng-class="{ 'has-error': register.company.$dirty && register.company.$error.required }">
        <label for="inputCompany" class="col-sm-2 control-label">Company Name</label>
        <div class="col-sm-3">
            <input name="company" ng-model="organization.name" required class="form-control" id="inputCompany" placeholder="Your company name">
        </div>
        <div class="help-block" ng-show="register.company.$dirty">
            <span ng-show="register.company.$error.required">Tell us your company name</span>
        </div>
    </div>
    <div class="form-group" ng-class="{ 'has-error': register.organizationDescription.$dirty && register.organizationDescription.$error.required }">
        <label for="inputFirst" class="col-sm-2 control-label">Description</label>
        <div class="col-sm-4">
            <textarea  name="organizationDescription" ng-model="organization.description" required class="form-control" id="inputFirst" placeholder="Description of Company"></textarea>
        </div>
        <div class="help-block" ng-show="register.organizationDescription.$dirty">
            <span ng-show="register.organizationDescription.$error.required">Describe your company to us</span>
        </div>
    </div>

    <h3>Location of Organization</h3>
    <div class="form-group" ng-class="{ 'has-error': register.company.$dirty && register.company.$error.required }">
        <label for="inputCompany" class="col-sm-2 control-label">Country</label>
        <div class="col-sm-3">
            <select id="platform" name="company" class="form-control" ng-model="company.country" ng-required="source.partner" ng-options="row.name for row in countries">
                <option value="" disabled>Select a country</option>
            </select>
        </div>
        <div class="help-block" ng-show="register.company.country.$dirty">
            <span ng-show="register.company.country.$error.required">Which location is your organization headquartered?</span>
        </div>
    </div>
    <div class="form-group" ng-class="{ 'has-error': register.last.$dirty && register.last.$error.required }">
        <label for="inputLast3" class="col-sm-2 control-label">Address</label>
        <div class="col-sm-3">
            <input name="last" ng-model="company.address1" required class="form-control" id="inputLast3" placeholder="Street Address">
        </div>
        <div class="help-block" ng-show="register.last.$dirty">
            <span ng-show="register.last.$error.required">What is the street address of your organization?</span>
        </div>
    </div>
    <div class="form-group" ng-class="{ 'has-error': register.last.$dirty && register.last.$error.required }">
        <label for="inputLast3" class="col-sm-2 control-label">Continued</label>
        <div class="col-sm-3">
            <input name="last" ng-model="company.address2" class="form-control" id="inputLast3" placeholder="Apartment / Suite / Unit">
        </div>
    </div>
    <div class="form-group" ng-class="{ 'has-error': register.last.$dirty && register.last.$error.required }">
        <label for="inputLast3" class="col-sm-2 control-label">Zip Code</label>
        <div class="col-sm-3">
            <input name="last" ng-model="company.postal" required class="form-control" id="inputLast3" placeholder="Zip Code">
        </div>
        <div class="help-block" ng-show="register.last.$dirty">
            <span ng-show="register.last.$error.required">What is your organization's zip code?</span>
        </div>
    </div>
    <div class="form-group" ng-class="{ 'has-error': register.last.$dirty && register.last.$error.required }">
        <label for="inputLast3" class="col-sm-2 control-label">City</label>
        <div class="col-sm-3">
            <input name="last" ng-model="company.city" required class="form-control" id="inputLast3" placeholder="City">
        </div>
        <div class="help-block" ng-show="register.last.$dirty">
            <span ng-show="register.last.$error.required">Which city is your </span>
        </div>
    </div>
    <div class="form-group" ng-class="{ 'has-error': register.last.$dirty && register.last.$error.required }">
        <label for="inputLast3" class="col-sm-2 control-label">State</label>
        <div class="col-sm-3">
            <input name="last" ng-model="company.state" required class="form-control" id="inputLast3" placeholder="State">
        </div>
        <div class="help-block" ng-show="register.last.$dirty">
            <span ng-show="register.last.$error.required">Tell us your last name</span>
        </div>
    </div>

    <h3>Organization Sources</h3>
    <div class="form-group">
        <label for="inputCompany" class="col-sm-2 control-label">I want to protect</label>
        <div class="col-sm-7">
            <div class="checkbox" ng-show="!source.unsure">
                <label>
                    <input type="checkbox" name="tracking" ng-model="source.partner" value="true"> My Tracking platform (Cake, HasOffers / Tune, LinkTrust, etc)
                </label>
            </div>
            <div class="checkbox" ng-show="!source.unsure">
                <label>
                    <input type="checkbox" name="website" ng-model="source.website" value="true"> My Website
                </label>
            </div>
            <div class="checkbox" ng-show="!source.unsure">
                <label>
                    <input type="checkbox" name="mobile" ng-model="source.mobile" value="true"> My Mobile App
                </label>
            </div>
            <div class="checkbox" ng-show="!source.partner && !source.website && !source.mobile">
                <label>
                    <input type="checkbox" name="unsure" ng-model="source.unsure" value="true"> I do not know
                </label>
            </div>
        </div>
    </div>
    <div ng-show="source.partner">
        <h3>My Tracking Platform</h3>
        <div class="form-group" ng-class="{ 'has-error': register.platform.$dirty && register.platform.$error.required }">
            <label for="platform" class="col-sm-2 control-label">Tracking Company</label>
            <div class="col-sm-3">
                <select id="platform" name="platform" class="form-control" ng-model="source.partner" ng-required="source.partner"  ng-options="row.name for row in partners">
                    <option value="" disabled>Select a partner</option>
                </select>
            </div>
            <div class="help-block" ng-show="register.platform.$dirty">
                <span ng-show="register.platform.$error.required">What tracking platform are you using?</span>
            </div>
        </div>
    </div>
    <div ng-show="source.website">
        <h3>My Website</h3>
        <div class="form-group" ng-class="{ 'has-error': register.website_name.$dirty && register.website_name.$error.required }">
            <label for="inputWebsite" class="col-sm-2 control-label">Name</label>
            <div class="col-sm-3">
                <input name="website_name" ng-model="website.name" ng-required="source.website" class="form-control" id="inputWebsite" placeholder="Name">
            </div>
            <div class="help-block" ng-show="register.website_name.$dirty">
                <span ng-show="register.website_name.$error.required">Tell us your website name</span>
            </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error': register.platform.$dirty && register.platform.$error.required }">
            <label for="website_type" class="col-sm-2 control-label">Site Type</label>
            <div class="col-sm-3">
                <select id="website_type" name="website_type" class="form-control" ng-model="website.type" ng-required="source.website"  ng-options="row.name for row in website_types">
                    <option value="" disabled>Select Website Type</option>
                </select>
            </div>
            <div class="help-block" ng-show="register.platform.$dirty">
                <span ng-show="register.website.type.$error.required">What kind of website do you want to protect?</span>
            </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error': register.website_address.$dirty && register.website_address.$error.required }">
            <label for="inputWebsiteAddress" class="col-sm-2 control-label">Address</label>
            <div class="col-sm-4">
                <div class="input-group">
                    <span class="input-group-addon">http://</span>
                    <input name="website_address" ng-model="website.address" ng-required="source.website" class="form-control" id="inputWebsiteAddress" placeholder="domain.com">
                </div>
            </div>
            <div class="help-block" ng-show="register.website_address.$dirty">
                <span ng-show="register.website_address.$error.required">Tell us your website address</span>
            </div>
        </div>
    </div>
    <div ng-show="source.mobile">
        <h3>My Mobile App</h3>
        <div class="form-group" ng-class="{ 'has-error': register.application.$dirty && register.application.$error.required }">
            <label for="inputCompany" class="col-sm-2 control-label">Name</label>
            <div class="col-sm-3">
                <input name="application" ng-model="mobile.name" ng-required="source.mobile" class="form-control" id="inputCompany" placeholder="Name">
            </div>
            <div class="help-block" ng-show="register.application.$dirty">
                <span ng-show="register.application.$error.required">Tell us your application name</span>
            </div>
        </div>
    </div>
    <h3>Terms and Conditions</h3>
    <div>
        <div class="form-group">
            <div class="legal col-sm-6">
                <textarea class="form-control" name="terms_text">Pop-up next level chillwave Thundercats heirloom crucifix. Paleo twee sartorial letterpress, flannel viral biodiesel cardigan synth heirloom irony Austin PBR. Food truck Odd Future Brooklyn, Neutra sustainable raw denim master cleanse art party mumblecore. Ethical heirloom butcher, XOXO food truck freegan quinoa umami selvage Etsy aesthetic gastropub American Apparel plaid. Fanny pack sartorial Banksy hoodie mlkshk. Master cleanse stumptown cliche pickled cray, flannel chia Marfa street art before they sold out sartorial. Cosby sweater distillery 8-bit, photo booth Neutra kogi sustainable bicycle rights mumblecore four loko paleo Odd Future skateboard.

Stumptown four loko irony, ennui YOLO meh distillery cardigan master cleanse scenester beard kitsch fap tofu. Ugh typewriter narwhal, bespoke viral selfies street art master cleanse cardigan Blue Bottle Tonx 90's shabby chic keffiyeh fixie. Locavore seitan aesthetic viral, blog forage literally YOLO Cosby sweater sartorial cardigan salvia Pitchfork tofu. Marfa locavore banh mi whatever iPhone. Shoreditch direct trade master cleanse, artisan tofu food truck VHS Banksy mixtape raw denim next level. Chillwave Wes Anderson yr, post-ironic chambray pickled master cleanse banjo try-hard blog. Godard Vice Intelligentsia keytar gentrify American Apparel, leggings ethical messenger bag iPhone High Life street art fap Kickstarter 90's.

Organic fap ennui, twee tote bag direct trade Echo Park keffiyeh blog. Tofu chia mustache, paleo Cosby sweater 8-bit fixie Tumblr normcore bicycle rights. McSweeney's Shoreditch post-ironic American Apparel selfies gastropub. Squid raw denim 3 wolf moon, narwhal salvia fanny pack freegan plaid scenester brunch deep v. Typewriter master cleanse sriracha chia, cred ennui Austin drinking vinegar beard Pinterest jean shorts Tonx wolf. You probably haven't heard of them authentic keffiyeh Helvetica cliche distillery. Twee art party mixtape, vinyl Portland Marfa flexitarian church-key craft beer you probably haven't heard of them Pinterest direct trade kitsch 3 wolf moon.

Cray trust fund hella paleo mlkshk gentrify. Try-hard Carles wayfarers mustache Intelligentsia, craft beer organic blog beard chillwave direct trade actually artisan. Jean shorts PBR crucifix Schlitz, flexitarian paleo raw denim artisan aesthetic normcore Intelligentsia pour-over. Fingerstache Brooklyn lomo hella Etsy heirloom. Helvetica bespoke retro, kale chips wolf letterpress American Apparel kogi you probably haven't heard of them Blue Bottle semiotics. 3 wolf moon selvage keffiyeh, fingerstache mixtape authentic typewriter narwhal disrupt American Apparel paleo. Heirloom swag ugh, roof party pork belly Bushwick dreamcatcher retro XOXO squid hoodie actually Shoreditch iPhone biodiesel.
                </textarea>

                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="unsure" ng-model="terms" value="true" required> I agree to the Terms and Conditions
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-4">
                <button type="submit" class="btn btn-primary" ng-disabled="register.$invalid || !terms">Sign Up</button>
            </div>
        </div>
    </div>
</form>